{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-6">
        <img class="image-about" src="{% static './images/my img.jpg.png' %}" alt="my">

    </div>
    <div class="col-md-6 mt-5">
        
        <p class="para">"As a dedicated Python Full Stack Developer in designing, developing, and implementing web applications, I have a proven track record in delivering robust, scalable, and efficient solutions. My expertise in <span style="font-weight: bold;">Python, Django, JavaScript, and SQL,</span>  coupled with my passion for problem-solving, enables me to create dynamic, user-friendly applications. I am eager to leverage my technical skills and commitment to continuous learning to drive innovation in a forward-thinking company.
        </p>

        <p class="pb-2 para">A positive attitude, Hardworking, Dedication, and Confidence are my greatest
            Strength. ( Experienced wordpress user ) Developer | Dynamic, Creative, Motivated, Fast learner, and
            Adaptable. Skilled in Social Media and Branding."</p>

    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center ">
        <h4 style="margin-top: 90px; margin-right: 100px;">My Tech Stack</h4>
    </div>
    <div class="col-md-12 mt-4 text-center">
    <ul style="margin-right: 100px;">
        <img class="about-logo1 mx-3" src="{% static './images/html.jpg.png' %}" alt="py">
        <img class="about-logo2 mx-3" src="{% static './images/css.jpg.png' %}" alt="py">
        <img class="about-logo3 mx-3" src="{% static './images/javascript.jpg.png' %}" alt="py">
        <img class="about-logo4 mx-3" src="{% static './images/python.jpg.png' %}" alt="py">
        <img class="about-logo5 mx-3" src="{% static './images/django.jpg.png' %}" alt="py">
        <img class="about-logo6 mx-3" src="{% static './images/word.jpg.png' %}" alt="py">
        <img class="about-logo7 mx-3" src="{% static './images/tailwind.jpg.png' %}" alt="py">
    </ul>
    </div>
</div>




{% endblock %}